body {
    background: linear-gradient(120deg, #0f0f0f, #000000);
    color: white;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    }

header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.logo {
    height: 30vh;
    margin-bottom: 0;
}

h1 {
  color: red;
  animation: pulseGlow 2s infinite;
}

@keyframes pulseGlow {
  0% { text-shadow: 0 0 5px red; }
  50% { text-shadow: 0 0 20px red; }
  100% { text-shadow: 0 0 5px red; }
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    gap: 40px;
    margin-top:0;           
}

.card {
    width: 40vw;
    height: 200px;
    background: brown;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0.9;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 0, 0, 0.2);
    box-shadow:
        0 0 10px rgba(255, 0, 0, 0.3),
        0 0 20px rgba(255, 0, 0, 0.2),
        0 0 40px rgba(255, 0, 0, 0.1);
}
.card:hover {
    transform: scale(1.05);
    box-shadow:
        0 0 20px rgba(255, 0, 0, 0.6),
        0 0 40px rgba(255, 0, 0, 0.4),
        0 0 60px rgba(255, 0, 0, 0.2)
}

a {
text-decoration: none;
color: white;
}
